@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.title {
    font-family: 'Anton', sans-serif;
}

.accordion-blocks {
    max-width: 50%;
    max-height: 100%;
    margin: 0 auto;
}

.accordion-blocks__block {
    max-width: 100%;
    border-top: 0.063rem solid black;
}

.accordion-blocks__input {
    width: 0;
    height: 0;
    appearance: none; 
}

.accordion-blocks__title {
    display: block;
    cursor: pointer;
    margin: -10px 0 0 5px;
}

.accordion-blocks__info {
    max-width: 90%;
    max-height: 0;
    margin: 10px auto;
}

.accordion-blocks__img {
    opacity: 0;
    max-width: 100%;
    transition: .5s;
}


/* открытие */

.accordion-blocks__input:checked ~ .accordion-blocks__info {
    max-height: 100%;
}
.accordion-blocks__input:checked ~ .accordion-blocks__info .accordion-blocks__img {
    opacity: 1;
}

.accordion-blocks__title:hover ~ .accordion-blocks__info {
    display: block;
}
.accordion-blocks__input:hover ~ .accordion-blocks__info .accordion-blocks__img {
    opacity: 1;
}

